<!DOCTYPE html>
<html lang="ru-RU">
<head>
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <title>Статистика генератора</title>
    <meta charset="utf-8">
</head>
<body>
<h1>Генератор сертификатов простоты по теореме Диемитко</h1>
<b>Сертификатов сгенерировано:</b> {{ last_generated.id }}<br>
<b>Последнее сертифицированное число:</b> {{ last_generated.N }} <i>(его сертификат: {{ last_generated_cert }})</i><br>
<b>Наибольшее сертифицированное число:</b> {{ largest_generated.N }} <i>(его сертификат: {{ largest_generated_cert }}))</i><br>
<b>Количество чисел, сертифицированных не двойкой:</b> {{ certified_not_by_2 }}
<form action="/generator/list">
    <button>Получить все сертификаты (может занять большое время)</button>
</form>
<b>Проверить число на простоту:</b>
<form id="checker" action="/generator/check">
    <input type="number" min="1" name="checked_num" placeholder="Введите число, которое нужно проверить на простоту"/>
    <input type="submit" value="Проверить"/>
    <output id="check_result"></output>
</form>
<br>
<b>Сгенерировать цепочку простых чисел</b>
<form id="chain_generator" action="/generator/chain_generation">
    <input type="number" min="1" name="root_num" placeholder="Введите число"/>
    <input type="submit" value="Сгенерировать 100 простых чисел (займет некоторое время)"/><br>
    <output id="chain"></output>
</form>
<script>
    function chain(root_num, url) {
        var posting = $.post( url, { root_num });
        posting.done(function (data) {
            $( "#chain" ).append( data );
            if (data !== 'Overflow') {
                chain(data, url);
            }
        });
        posting.fail(function (){
            $( "#chain" ).append("Произошла ошибка!");
        })
    }
    $("#checker").submit(function (event){
        event.preventDefault();
        var $form = $( this ),
            checked_num = $form.find('input[name="checked_num"]').val(),
            url = $form.attr('action');
        var posting = $.post( url, { checked_num: checked_num });
        posting.done(function (data) {
            $( "#check_result" ).empty().append( data );
        });
        posting.fail(function (){
            $( "#check_result" ).empty().append("Произошла ошибка!");
        })
    })
    $("#chain_generator").submit(function (event){
        event.preventDefault();
        $( "#chain" ).empty();
        var $form = $( this ),
            root_num = $form.find('input[name="root_num"]').val(),
            url = $form.attr('action');
        chain(root_num, url);
    })
</script>
<b>Для обновления статистики обновите страницу</b>
</body>
</html>